<html>
  <body>
<form method="POST" action="/submit">
     {{ form.hidden_tag() }}
    {{ form.input.label }} {{ form.input() }}<br>
    {% if form.input.errors %}
        <ul class="errors">{% for error in form.input.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    {{ form.predefined.label }} {{ form.predefined() }}<br>
    {{ form.configuration.label }}{{ form.configuration() }}
    <input type="submit" value="Go"><br>
</form>
      {% if output %}
        {{ output }}
    {% endif %}
  </body>
</html>