<!doctype html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<form action="calculate" method="post" name="pselect_input">
			<h3 style="color:blue;">
				<span style="font-family:tahoma,geneva,sans-serif;">PrimerSelect</span></h3>
			<p>
				<span style="font-family:tahoma,geneva,sans-serif;">Input sequences (FASTA)</span><br />
				<textarea cols="100" name="input_seq" rows="20"></textarea></p>
			<p>
				<span style="font-family:tahoma,geneva,sans-serif;">Predefined primers (FASTA). Fwd and rev primers are separated by &#39;&amp;&#39;</span></p>
			<p>
				<textarea cols="100" name="predefined" rows="10"></textarea></p>
			<p>
				<input name="submit" type="button" value="Go!" /></p>
		</form>
		<p>
			&nbsp;</p>
	</body>
</html>
